* {
    margin: 0 auto;
    padding:0;
}

body {
    background-color:black;
    font-family: 'DM Sans', sans-serif;
}

a {
    color:white;
}

a:hover {
    color:Gray
}

#container {
    height:100vh;
}

#intro {
    /* width:40%; */
    color:white;
    text-align:center;
    padding-top:50px;
}

#socials a {
    text-decoration:none;
    padding:5px;
}

#footer {
    text-align:center;
    padding-bottom:10px;
}

#notice {
    padding-top:2px;
}

/* global classes */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* width:50vw; */
    flex-direction: column;
}