.form {
    display:table;
    text-align:center;
    margin:auto;
    padding:20px;
    background-color:#cfcfcf;
    border-radius:30px;
}

.fields {
    display: table-cell;
    background-color:black;
    border-radius:50px;
    outline:none;
    caret-color:white;
    color:white;
}

.fields::placeholder {
    color:white;
}

.fields input[type=text] {
    padding:0 50px;
}

.message {
    /*max-width:50%;*/
    resize:vertical;
    width:100%;
    max-height:200px;
}

.field-item {
    padding:0 20px;
}