html, body {
    margin:0;
    padding:0;
    background-color:#3E3E3E;
    font-family: 'IBM Plex Sans', sans-serif;
}

/* nav styling */
#navbar {
    text-align:center;
    background-color:#525459;
}

#navbar li {
    display:inline-block;
    padding: 10px 10px;
    font-size:20px;
}

#navbar ul {
    margin: 0;
    padding:0;
    list-style-type:none;
}

.listitem:hover {
    animation-name: hover;
    animation-duration:0.5s;
}

/* home */
#home {
    background-color:black;
    position:relative;
    max-height:40vh;
    color:white;
    vertical-align:top;
}

.homecontent {
    padding:50px 15vw !important;
}

.homecontent p {
    font-size:20px;
}

#home * {
    padding:0;
    margin:0;
}

/* global type stuff */

a {
    color:white;
    text-decoration:none;
}

a:hover {
    color:#81A2A1;
    animation:fadein;
}