@import "tailwindcss";

@theme {
    --breakpoint-xs: 400px;
    --animate-scroll-left: scroll-left 10s linear infinite;

    @keyframes scroll-left {
        0% {
            transform: translateX(50%);
        }
        100% {
            transform: translateX(-50%);
        }
    }
}

body {
    font-family: 'Pathway Gothic One', sans-serif;
    background-color: black;

    ::-webkit-scrollbar {
        width:80px;
        height:10px;
        border-radius: var(--radius-lg);
        background-color:white;
    }
    ::-webkit-scrollbar-thumb {
        background-color:gray;
        border-radius: var(--radius-lg);
    }
}