@import "tailwindcss";

body {
  font-family: "Pathway Gothic One", sans-serif;
  background-color: black;

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: var(--radius-lg);
    background-color: white;
  }
  ::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: var(--radius-lg);
  }
}
