@import "tailwindcss";

@theme {
    --breakpoint-xs: 400px;
}

body {
    font-family: 'Pathway Gothic One', sans-serif;
    background-color: black;

    ::-webkit-scrollbar {
        width:80px;
        height:10px;
        border-radius: var(--radius-lg);
        background-color:white;
    }
    ::-webkit-scrollbar-thumb {
        background-color:gray;
        border-radius: var(--radius-lg);
    }
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
}

.marquee-content {
  display: inline-block;
  animation: scroll 10s linear infinite;
}

.marquee-content span {
  display: inline-block;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}