@import "tailwindcss";

@theme {
    --breakpoint-xs: 400px
}

body {
    font-family: 'Pathway Gothic One', sans-serif;
    overflow: hidden;

    ::-webkit-scrollbar {
        width:50px;
        height:5px;
        border-radius: var(--radius-lg);
        background-color:white;
    }
    ::-webkit-scrollbar-thumb {
        background-color:gray;
        border-radius: var(--radius-lg);
    }
}

@keyframes scroll {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}