body {
    background-color:black;
    font-family: 'Poppins', sans-serif;
}

a {
    color:white;
    font-size:30px;
    text-decoration:none;
    text-underline:none;
}

a:visited {
    color:gray;
}

a:hover {
    color:gray;
}

.jumbotron {
    border-radius:50px;
    border-color:white;
    color:white;
    border-style:solid;

    width:40vw;
    height:40vh;
    /*max-width:500vw;*/
    /*max-height:500vh;*/
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.content {
    font-size:35px;
}

.link {
    position: absolute;
    top: 24.5%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    padding:0;
    margin:0;
}